.uno, .dos, .tres{
    
        border: solid 5px;
    width: 10px;
    border-radius: 5px;
    margin: 2px auto;
    
}
.showmenu{
	position: absolute;
    top: 2%;
    right: 15%;
    cursor: pointer;
}
.mostrar .dos {
    transform:translateX(15px);
    transition: 1s;
}
.dos {
    transform: translateX(0px);
    transition:  1s;
}

