/*Top Menu*/

.TopMenu{
	background: #ccc;
	height: 50px;
	position: relative;
	top: auto;
	box-shadow: 0px 2px 1px 0px;
}
ul{
	position: absolute;
}
ul li{
	position: relative;
	display: inline-block;
	bottom: 35px;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: arial;
    color: #fff;
}

ul li a{
	font-size: 20px;
	
	margin: 20px;
		
}


/*end top menu*/
